
.mycontainer {
  padding: 20px;
  width: 90%;
  margin: 0 auto;
  height: 100vh;

  .welcome-site-item-wrapper {
    position: relative;
    margin-bottom: 30px;

    .welcome-site-item {
      height: 100px;
      width: 100%;
      margin: 0 auto;


    }

    .trapezoid {
      //border-top: #f7faf6;
      border-left: 80px solid transparent;
      border-right: 0px solid transparent;
      height:0;
      width: 80%;
      position: absolute;
      bottom: 0;
      right: 0;


    }

    .site-link {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 3rem;
      @media(max-width: 900px) {
        font-size: 2.5rem;

      }
      @media(max-width: 700px) {
        font-size: 2rem;

      }
      @media(max-width: 600px) {
        font-size: 1.5rem;

      }
      @media(max-width: 530px) {

        left: 65%;

      }

    }

  }


}






