* {
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
  @media(max-width: 1000px){
    font-size: 12px;
  }
  @media(max-width: 800px){
    font-size: 10px;
  }

}

@font-face {
  font-family: 'Noto Sans', sans-serif;
  src: local("NotoSans-Regular"), url("https://fonts.google.com/specimen/Noto+Sans?preview.text_type=custom&sidebar.open=true&selection.family=Noto+Sans:wght@400;700") format("truetype");
}

body {

  background-color: #efefef;
}


table {
  text-align: center;


}

.table-mid-color {
  background-color: #f7f7fc;
}

.solid-data {
  background-color: rgba(219, 171, 182, 0.51);
  font-size: 1.5rem;
}

.taking-care-records {
  background-color: rgba(188, 220, 179, 0.51);
  font-size: 1.5rem;
}

.input-wrapper {
  text-align: center;
  font-size: 14px;
  margin-bottom: 20px;

  input {
    margin-left: 20px;
    width: 250px;
    height: 50px;
  }
}

.formik-form {
  text-align: center;

  button {
    margin-top: 15px;
  }
}



