@font-face {
 font-family: 'Montserrat Alternates', sans-serif;
  src: local("Montserrat Alternates"),url("./fonts/Montserrat/MontserratAlternates-SemiBoldItalic.ttf") format("truetype");
}
table{
  text-align: center;


}
.table-mid-color{
  background-color: #f7f7fc;
}
.solid-data{
  background-color: rgba(219, 171, 182, 0.51);
  font-size: 1.5rem;
}

.taking-care-records{
  background-color: rgba(188, 220, 179, 0.51);
  font-size: 1.5rem;
}

