//
//.title{
//  margin-top: 20px;
//  padding-left:15px;
//}
//.plant-box {
//  display: flex;
//  justify-content: space-between;
//  align-items: center;
//  padding: 0 20px;
//
//  .name-span {
//    display: block;
//    text-align: center;
//    width: 70%;
//
//    p {
//      font-size: 1.5em;
//      color: black;
//    }
//
//    span {
//      color: black;
//    }
//  }
//
//}


.icons {
  font-size: 2em;
  color: black;
  display: flex;
  justify-content: flex-end;

  .edit {
    margin-right: 20px;

    &:hover {
      color: green;

    }
  }

  .delete {
    &:hover {
      color: red;
    }
  }

}

.success {
  margin-top: 20px;
  padding-left: 15px;
}

.create-search-tab {
  margin-top: 15px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: 'Noto Sans', sans-serif;
  padding: 15px;
  @media(max-width: 500px) {
    margin-bottom: 0;
    padding-bottom: 10px;
  }


  .search {
    display: flex;
    align-items: center;
    @media(max-width: 500px) {
      margin-bottom: 10px;
    }

    label {
      margin-right: 10px;
      font-size: 1.5rem;
      @media(max-width: 500px) {
        width: 120px;
        margin-right: 0;
        width: 100px;
      }
    }

    select {
      margin-right: 10px;
      padding: 7px;
      width: 150px;
      border-radius: 5px;
      @media(max-width: 500px) {
        width: 120px;
      }

    }
  }


}


.plant-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


  .plant-card-items {
    box-shadow: 0px 0px 15px 0px #B7B7B7;
    width: calc(100% / 3.2);
    margin: 10px;


    @media(max-width: 1200px) {
      width: 42%;
    }
    @media(max-width: 960px) {
      width: 40%;
      //margin:10px 100px;
    }
    @media(max-width: 700px) {
      width: 100%;
      margin:10px 100px;
    }
      @media(max-width: 500px) {
      width: 100%;
      margin:10px 70px;
    }
       @media(max-width: 500px) {
      width: 100%;
      margin:10px 10px;
    }


    .card-body {
      padding: 20px;

      h5 {
        font-size: 2rem;
      }

      h6 {
        font-size: 1rem;
      }

      p {
        font-size: 1.2rem;
      }

    }


  }
}



