@import "src/styles/variables.scss";
.custom-navbar{
  background-color: green;
  font-family: $documentFontFamily;
  color:red;
  background-color:$themeColor;


}
ul>li{
  font-size: 1.5em;
  margin-right: 10px;

}
.admin-logout-menu{
  text-decoration:none;
  .admin{
  color:black;
  &:hover{
    text-decoration:none;
  }
}

}
